body {
    margin: 0px;
    background-color: darkcyan;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    border: 0.5px solid black;
    background-color: white;
    image-rendering: crisp-edges;
}